{% extends "base.html" %}    

{% block content %}
	<h2><a href="index.html" style="text-decoration:none;color:black">Andreas Baumbach</a></h2>

    <p>
    	I'm currently a PhD student at the Kirchhoff Institute for Physics at the University Heidelberg investigating statistical properties and peculiarities of spiking neural networks.
      As part of the <a href="https://www.kip.uni-heidelberg.de/vision/">Electronic Vision(s) Group</a> I also participate in the deployment of the <a href="https://brainscales.kip.uni-heidelberg.de">BrainScaleS</a> neural network emulation system and in particular deal with the provisioning of the software dependency stack using <a href="www.github.com/spack/spack">Spack</a>.
    </p>

    <p>
      Over the years I contributed to a number of open source projects like
      <ul>
        <li><a href="astropy">https://github.com/astropy/astropy</a></li>
        <li><a href="PyNN">https://github.com/NeuralEnsemble/PyNN</a></li>
        <li><a href="spack">https://github.com/spack/spack</a></li>
        <li><a href="numpy">https://github.com/numpy/numpy</a></li>
      </ul>
      most of which I ran across as part of my studies and most of which are really minor bug fixes, documentation or unit tests. The one example there might be Spack, where I'm actually a regular contributor.
    </p>

    <p>
      As part of my PhD project I wrote an simulation generation, submission and collection tool <a href="https://github.com/healther/experiment">experiment</a>. It is a rather naive implementation and likely not particularly well optimized. Nevertheless it serves me well in generating large scale parameter sweeps, controlling the analysis of multi-terrabyte raw data and generating summaries of those.
    </p>

    <p>
      In my free time (which sadly reduced significantly from my study days) I tend to start time consuming, but little-value projects like setting up a mail and web server or learning about the inner workings of the Linux kernel.
    </p>

    <p>
      Finally there are these relaxing things like rock climbing and diving which I tend to do far too irregularly, but continuously tell me that I really ought to do more often.
    </p>

    <!-- Always interested in new opportunities and contacts. Doesn't need to be a high paying job, but wouldn't mind that either. -->
{% endblock %}
